*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
  color: #231f1b;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  color: #0c70c2;
  text-decoration: none;
}

a > div:hover, a > div:focus, a:hover, a:focus {
  color: #08467a;
  text-decoration: underline;
}

a:active, a:hover, a > div:active, a > div:hover {
  outline: 0;
}

header, main {
  display: block;
}

.ErreHeader-row::after, .ErreHeader-row::before,
.footer-inspiration-holder::after,
.footer-inspiration-holder::before, .header-row::after,
.header-row::before, .MaxDiff-choices-holder::after,
.MaxDiff-choices-holder::before, .MaxDiff-choices-row::after,
.MaxDiff-choices-row::before, .row::after, .row::before, .Slider-root::after,
.Slider-root::before, .UserSort-choices-holder-inner::after,
.UserSort-choices-holder-inner::before, .UserSortChoice-holder-inner::after,
.UserSortChoice-holder-inner::before {
  content: " ";
  display: table;
}

.navbar-title {
  padding: 0 15px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}

.navbar-title-holder {
  width: 83.3333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 38px 0 27px;
  margin-left: 0;
}

.navbar-title-holder img {
  margin: auto;
  height: 55px;
  overflow: hidden;
}

.navbar-title-language-switcher {
  justify-content: flex-end;
  padding: 0;
  display: flex;
  width: 16.66666%;
  float: left;
  position: relative;
}

.LanguageSwitcher-holder {
  width: 96px;
  height: 42px;
  font-size: 16px;
  letter-spacing: normal;
  margin-top: 43px;
  cursor: pointer;
  border: 1px solid #cee1f0;
  border-radius: 3px;
  background-color: #fafdff;
  color: #0c70c2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ErreHeader-container {
  padding: 0 15px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.ErreHeader-row {
  margin-left: -15px;
  margin-right: -15px;
}

.ErreHeader-holder {
  padding: 0;
  border: 1px solid #095492;
  border-radius: 3px;
}

.ErreHeader-item-inner {
  padding: 0 10px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center
  height: 80px
}

.ErreHeader-item-icon {
  position: relative;
  top: -5px;
  width: 50px;
}

img#parliament {
  width: 36px;
  height: 94px;
  /* Needed to tweak from MyDemocracy.ca values */
  margin: -10px 0 -5px 0;
  overflow: hidden;
}

.ErreHeader-item-caption {
  text-align: center;
  font-family: Charter;
  width: calc(100% - 80px);
  font-size: 20px;
  line-height: 1.05
  letter-spacing: -0.2px;
  font-weight: 700;
  color: #0e2e47;
  margin: 0;
}

.header-container {
  padding: 0 15px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.header-row {
  font-family: Charter;
  color: #0e2e47;
  text-align: center;
  line-height: 22px;
  font-size: 16px;
  margin-left: -15px;
  margin-right: -15px;
}

.sub-title {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 18px;
  font-weight: 700;
  margin-left: 8.333%;
  width: 83.3333%;
}

.welcome-message-content {
  margin-bottom: 32px;
  padding 0;
  margin-left: 8.333%;
  width: 83.3333%;
  position: relative;
}

.question-main-container {
  padding: 0 15px;
  border-top: none;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.question-holder-inner {
  border: 1px solid #d3dee6;
  border-radius: 3px;
  padding-top: 42px;
  padding-bottom: 5px;
}

.question-button-holder {
  width: 100%;
}

.next-button {
  color: #fff;
  background-color: #0c70c2;
  border-color: #031d32;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 34px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 10px 22px;
  cursor: pointer;
  whitespace: nowrap;
  border-radius: 4px;
}

.next-button:hover {
  background-color: #095492;
  color: #fff;
  text-decoration: none;
}

.next-button span {
  display: inline-block;
  margin-right: 7px;
}

.arrow-bullet {
  color: #7eb4e1;
  padding-bottom: 5px;
}

.question-permission {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #63788a;
  padding: 0;
  width: 83.3333%;
  margin-left: 8.3333%
}

.footer-container {
  padding: 0 15px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.footer-holder {
  border: 0;
  margin-top: 44px;
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
}

.footer-inspiration-holder {
  border-top: 1px solid #e7ecf0;
  padding: 20px 20px 20px 0;
  margin: 0;
  border-bottom: 1px solid #e7ecf0;
  display: flex;
}

.footer-inspiration-text {
  margin-bottom: 0;
  padding-top: 8px;
  border: none;
  text-align: right;

  padding: 12px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #63788a;
  border-radius: 0 0 4px 4px;
  width: 33.33333%;
  float: left;
  margin-left: 10%;
  margin-right: 60px;
}

.footer-inspiration-logo {
  margin: 0;
  position: relative;
  display: flex;
  -webkit-align-items: center;
  justify-content: center;
  width: 33.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-inspiration-logo img {
  height: 35px;
}

.footer-civictechto-holder {
  padding: 25px 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-civictechto-text {
  margin-right: 85px;
  font-size: 15px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 1.5px;
  text-align: right;
  color: #63788a;
  text-transform: uppercase;
  width: 33.333333%;
}

.footer-civictechto-logo {
  margin: 0;
  position: relative;
  -webkit-align-items: center;
  justify-content: center;
  width: 33.3333%;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-civictechto-logo img {
  height: 35px;
}

.navigation-holder-inner {
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
}

.navigation-link-holder {
  text-align: center;
  padding-left: 0;
  list-style: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.navigation-item-link {
  display: inline-block;
  width: inherit;
}

.navigation-item-link::after {
  content: '';
  display: inline-block;
  margin: 0 14px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #cee1f0;
  position: relative;
  top: -2px;
}

.navigation-item {
  display: inline-block;
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 22px 0;
}

@font-face {
  font-family: "Charter";
  src: url("/assets/Charter.woff")
}
