<footer class="footer-container">
  <div class="footer-holder">
    <div class="footer-civictechto-holder">
      <div class="footer-civictechto-text">
        Made with ❤ at
      </div>
      <div class="footer-civictechto-logo">
        <a href="https://www.meetup.com/Civic-Tech-Toronto/" target="_blank">
          <img src="{{site.baseurl}}/assets/img/civictechto-logo.png" />
        </a>
      </div>
    </div>

  </div>
  <div class="navigation-holder">
    <div class="navigation-holder-inner">
      <ul class="navigation-link-holder">
        <li class="navigation-item-link">
          <a href="{{ '/about' | prepend: site.baseurl }}"><div class="navigation-item">About</div></a>
        </li>
        <li class="navigation-item-link">
          <a href="{{ '/consultations' | prepend: site.baseurl }}"><div class="navigation-item">Consultations</div></a>
        </li>
        <li class="navigation-item-link">
          <a href="{{ '/methodology' | prepend: site.baseurl }}"><div class="navigation-item">Methodology</div></a>
        </li>
        <li class="navigation-item-link">
          <a href="{{ '/faq' | prepend: site.baseurl }}"><div class="navigation-item">FAQ</div></a>
        </li>
        <li class="navigation-item-link">
          <a href="{{ '/privacy' | prepend: site.baseurl }}"><div class="navigation-item">Privacy</div></a>
        </li>
        <li class="navigation-item-link">
          <a href="{{ '/why-this-tool' | prepend: site.baseurl }}"><div class="navigation-item">Why this tool?</div></a>
        </li>
      </div>
    </div>
  </div>
</footer>

{% if site.livechat_license %}
  <!-- Start of LiveChat (www.livechatinc.com) code -->
  <script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = {{ site.livechat_license }};
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
  </script>
  <!-- End of LiveChat code -->
{% endif %}
