<header class="top-navbar">
  <div class="clearfix">
    <div class="navbar-title">
      <div class="navbar-title-holder">
        <a href="/">
          <img src='{{site.baseurl}}/assets/img/vtoronto-logo.svg' />
        </a>
      </div>
      <div class="navbar-title-language-switcher">
        <a class="LanguageSwitcher-holder" href="{{ site.locales[site.locale].change_locale_url }}">
          <span>{{ site.locales[site.locale].change_locale_text }}</span>
        </a>
      </div>
    </div>
  </div>
</header>
